:root{
    --lightYellow: #fef4e6;
    --darkPeach: #FC766AFF;
    --darkPurple: #9B4A97FF;
    --white: #fff;
    --orange: #ff5e00;
    --darkYellow: #fac985;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg, var(--darkPeach), var(--darkPurple));
}

.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover,
}

.container {
    width: 100%;
    min-height: 20vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightYellow);
}

.text {
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 400%;
    background-image: linear-gradient(70deg, var(--darkPurple) 15%, var(--darkYellow) 30%, var(--darkPeach) 50%, var(--darkPurple) 68.2%, var(--orange) 85%);
    animation: move 5s ease infinite;
}

@keyframes move {
    0%, 100% {
        background-position: 200% 0%;
    }

    50% {
        background-position: 0% 200%;
    }
}

h2{
    text-align: center;
    font-size: 50px;
}

.wrap{
    border: 1px solid var(--white);
    width: 400px;
    height:200px;
    display:grid;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 10px;
    margin-top: 150px;
}

button{
    width: 65px;
    height: 40px;
    margin: 0 5px 0 5px;
    background-color: var(--darkPeach);
    border-radius: 5px;
    border: 1px solid var(--darkPeach);
    font-size: 25px;
    color: var(--white)
}

button:active{
    background-color: var(--darkPurple);
    border: 1px solid var(--darkPurple);
}

.flex {
    margin-top: -50px;
}

@media screen and (max-width: 360px) {
    .wrap {
        width: 320px;
        height: 200px;
        margin-top: 100px;
    }

    .container {
        min-height: 15vh;
    }
    
    .text {
        font-size: 25px;
    }

    h2 {
        font-size: 35px;
    }

    button {
        width: 55px;
        height: 35px;
    }
}